jsonschema
pyyaml
boto3
aws_error_utils

# Use the "local" version until PyPI hosts the fix.
#
# I can't use a relative path because `sam build` doesn't mount the lib
# directory. See https://github.com/aws/aws-sam-cli/issues/5546
#
# I can't use the normal VCS install syntax because `sam build` doesn't support
# that syntax. See https://github.com/aws/aws-lambda-builders/issues/253
-e git+https://github.com/iainelder/aws-sso-util.git@skip-suspended#egg=aws_sso_lib&subdirectory=lib
