jsonschema
pyyaml
boto3
aws_error_utils

# Use the "local" version until PyPI hosts the fix.
#
# I can't use a relative path because `sam build` doesn't mount the lib
# directory. See https://github.com/aws/aws-sam-cli/issues/5546
#
# `sam build` needs a `setup.py` to install from VCS.
# See https://github.com/aws/aws-lambda-builders/issues/253
aws_sso_lib @ git+https://github.com/iainelder/aws-sso-util.git@skip-suspended#subdirectory=lib
